﻿<h3>Comments</h3>

<p></p>

<p *ngIf="!comments"><em>Loading...</em></p>

<div *ngIf="comments">
    <div class="col-xs-12" *ngFor="let articleComment of comments; let i=index">
        <div class="message clearfix">
            <div>
                <img class="img-circle pull-left" src="https://t3.ftcdn.net/jpg/01/04/10/10/240_F_104101070_wbEDt3CmlzqnPbdmOlVCL7Q7yu9mCduz.jpg" alt="" width="32" height="32">
                <h5 class="author pull-left"> <small>{{ articleComment.username }}</small></h5>
            </div>
            <div class="col-xs-12 clearfix">

                <p class="comments">{{ articleComment.comment }}</p>
            </div>
            <div class="col-xs-12 clearfix">

                <h5 class="time"><small><i>{{ articleComment.time | date:'fullDate'}}</i></small></h5>
            </div>
        </div>
    </div>
</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<form>
    <div class="form-group">
        <label for="Comments">Add Comment</label>
<textarea [(ngModel)]="comment.comment" rows="4" cols="50" class="form-control" name="comment" id="comment" required placeholder="Enter comment here...">
</textarea>
        <button type="submit" (click)="addComment()" class="btn btn-success">Submit</button>
    </div>
</form>