@{
    ViewData["Title"] = "DMS Articles";
}
@inject UserManager<MiniBlogUser> UserManager


<app asp-prerender-module="ClientApp/dist/main-server"
     id="role"
     data-role="@User.IsInRole("Publisher")"
     data-username="@UserManager.GetUserName(User)">
    Loading...
</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
