<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">DoC MiniBlog</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li *ngIf="config.isPublisher" [routerLinkActive]="['link-active']">
                    <a href="/Articles">
                        <span class='glyphicon glyphicon-home'></span> Manage Articles
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
