﻿<div *ngIf="article">
    <h3 class="col-xs-12">{{ article.title }} <small>{{ article.publishDate | date:'fullDate' }}</small></h3>
    <p class="col-xs-12"><i>Author:</i> {{ article.author }}</p>
    <div>&nbsp;</div>
    <img width="400" src="{{article.images}}" />
    <div>&nbsp;</div>
    <p>{{ article.body}}</p>
    <div>&nbsp;</div>
    <app-article-likes></app-article-likes>
    <div>&nbsp;</div>
    <app-comments></app-comments>
</div>
