﻿<h1>Latest Articles</h1>

<p></p>

<p *ngIf="!articles"><em>Loading...</em></p>

<div *ngIf="articles">
    <div class="col-xs-12" *ngFor="let article of articles; let i=index">
        <a [routerLink]="['/article', i]">
            <h3 class="col-xs-12">{{ article.title }} <small>{{ article.publishDate  | date:'fullDate' }}</small></h3>
            <p class="col-xs-12"><i>Author:</i> {{ article.author }}</p>
            <img class="col-xs-offset-1 col-xs-10" src="{{article.images}}" />
            <p class="col-xs-12">{{ article.body | slice:0:200 }}..</p>
        </a>
    </div>
</div>
